<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İletişim sayfası</title>
    <link rel="stylesheet" type="text/css" href="iletisimFormuStil.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div id="iletisimForm">
    <h1>İletişim Formu</h1>
    <form @submit.prevent="submitForm">
        <div class="form-Grubu">
            <label for="name">İsim</label>
            <input type="text" v-model="name" id="name" required>
            
        </div>
        <div class="form-Grubu">
            <label for="email">E-posta</label>
            <input type="email" v-model="email" id="email" required>
        </div>
        <div class="form-Grubu">
            <label for="message">Mesaj</label>
            <textarea v-model="message" id="message" required></textarea>
        </div>
        <button type="button" @click="resetForm">Temizle</button>
        <button type="submit">Gönder</button>
    </form>

    <div v-if="submitted">
        <h2>Gönderilen Form Bilgileri</h2>
        <p><strong>İsim:</strong> {{ name }}</p>
        <p><strong>E-posta:</strong> {{ email }}</p>
        <p><strong>Mesaj:</strong> {{ message }}</p>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="iletisimKontrol.js"></script>
</body>
</html>